// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  padding: 10px;
}

.container h1{
  font-size: 30px;
}

.container p{
  font-size: 20px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
}

input[type=submit] {
  font-size: 18px;
  font-weight: lighter;
  padding: 10px 18px;
  border-radius: 4px;
}
